* {
    box-sizing: border-box
}
body{
    color: #e5e5e5;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
header{
    top: 0;
    height: 552px;
    background: url(../img/clms_blue.png) no-repeat right 0px;
}
.feedback{ /* work on this, prolly use javascript*/
    /* display: none; */
    /* width: 100%;
    display: block;
    position: absolute;
    padding: 20px 0 20px 0;
    top: 512px;
    background-color: #1abc9c; */
}

.container{
    max-width: 980px;
    margin: 0px auto 0px auto;
    position: relative;
    background-color: #555;
}
/* style for button and image */
.btn, img{
    width: 100%;
    max-width: 180px;
    height: auto;
    /* padding: 2em; */
    border: none;
    background-color: transparent;
    display: block; /* center button*/
    margin: auto;
    cursor: pointer;
}

.action h2{
    font-size: 2em;
    text-align: center;
}

.dashboard .action{
    width: 33.33%;
    float: left;
    background-position: 0px 3px;
}
.dashboard .action .content{
    width: 300px;
    padding: 27px 0px 27px 27px;
}
.clear-fix {
    clear: both;
    line-height: 1px;
}

footer {
    font-size: .85em;
    background-color: #64acc5;
    padding: 10px;
}
.logout {
    display: inline;
    bottom: 0;
    position: absolute;
    right: 0;
    padding: 1em 1em .8em 1em;
}
.new {
    font-size: 1em;
    margin: auto;
}

/* styling for books page below */

/* style for add new book icon */
.new-icon{
    width: 6em;
    background-color: transparent;
    border: none;
    margin: 1em;
    outline: none;
}
.new-icon img{
    width: 3em;
    height: auto;
    cursor: pointer;
}

/* style for search bar */
.search-container {
    float: right;
}
.books-top{
    border-bottom: 3px solid #1abc9c;
}
.books-top input[type=text] {
    padding: 12px;
    margin: 13px 0 1em 0;
    font-size: 1em;
    border: none;
    outline: none;
}
.books-top .search-container button {
    float: right;
    margin: 1em 2em 0 0;
    background: #ddd;
    border: none;
    cursor: pointer;
}
.books-top .search-container button img{
    width: 3em;
    height: auto;
}

/* style for add new book modal */
label{
    font-size: 1.2em;
}
/* Full-width Add new input fields*/
.input-field, select {
    border: none;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 1em;
    color: #555555;
    display: inline-block;
}
.input-field:focus, select {
    outline: none;
}

/* Set a style for modal box buttons */
.btns button {
    background-color: #1abc9c;
    color: #ddd;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btns button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.btns .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
/* Float cancel and add buttons and add an equal width */
.btns .cancelbtn, .btns .submit {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.form-content {
    padding: 1em;
}

/* The Modal (background) */
.modal-form {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #555;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    z-index: 1;
    background-color: #64acc5;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close-modal {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close-modal:hover, .close-modal:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.btns::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {
    .btns .cancelbtn,
    .btns .submit {
        width: 100%;
    }
}
/* style for page title */
.search-container p{
    position: absolute;
    left: 40%;
    display: inline;
    font-size: 1.4em;
    font-weight: bold;
}