body{
    color: #555555;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}
header{
    height: 552px;
    background: url(../img/clms_blue.png) no-repeat right 0px;
}

.container{
    max-width: 980px;
    margin: 0px auto 0px auto;
    position: relative;
    background-color: #fff;
}
/* style for button and image */
.btn, img{
    width: 100%;
    max-width: 250px;
    height: auto;
    /* padding: 2em; */
    border: none;
    background-color: transparent;
}
.action h2{
    font-size: 2em;
}
footer {
    font-size: .85em;
    background-color: #64acc5;
    padding: 10px 10px 10px 0px;
}