* {
    box-sizing: border-box
}

body{
    color: #183f53;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #1abc9c url("../img/clms_largest.png") no-repeat;
    background-size: cover;
}

/* style for username and password input login field */
input{
    display: inline-block;
    border: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 1em;
    color: #555555;
    background-color: #e5e5e5;
    padding: 1em;
    margin: 4px 2px;
}

input:focus{
    background: #183f53;
    color: #ddd;
    outline: none;
}

/* style for login submit button */
input[type=submit]{
    color: #e5e5e5;
    text-decoration: none;
    cursor: pointer;
    background: #183f53;
}

/* style for signup paragraph element */
.signup {
    font-size: 1em;
    margin: 0 0 0 4px;
}

/* style for paragraph button element */
.signup .btn {
    background-color: transparent;
    color: #e5e5e5;
    border: none;
    cursor: pointer;
}

/* Full-width SignUp input fields*/
.signup-input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
}

.signup-input:focus{
    outline: none;
}

/* Set a style for modal box buttons */
.btns button {
    background-color: #1abc9c;
    color: #ddd;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btns button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.btns .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.btns .cancelbtn, .btns .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 1em;
}
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #555;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    z-index: 1;
    background-color: #64acc5;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.btns::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 600px) { 
    input{
        display: none;
        /* add text that window size too small */
    }
    .btns .cancelbtn,
    .btns .signupbtn {
        width: 100%;
    }
}