body{
    color: #183f53;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #1abc9c url("../img/clms_largest.png") no-repeat;
    background-size: cover;
}
input{
    display: inline-block;
    border: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 1em;
    color: #555555;
    background-color: #e5e5e5;
    padding: 1.5em;
    margin: 4px 2px;
}

input:focus{
    background: #183f53;
    color: #ccc;
}
input[type=submit]{
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    background: #183f53;
}
.signup{
    font-size: 1em;
    margin: 0 0 0 4px;
}
.signup a{
    text-decoration: none;
    cursor: pointer;
    color: #e5e5e5;
}

@media screen and (max-width: 600px) { 
    input, p{
        display: none;
        /* add text that window size too small */
    }
}
